################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Lb1SysProgr/FileContentIndex/1b37d693-b46b-4a89-bea7-0afdf968b507.vsidx
/.vs/Lb1SysProgr/FileContentIndex/351278e4-e6b3-4433-bf76-4f9b50194bd4.vsidx
/.vs/Lb1SysProgr/FileContentIndex/53c91a73-ed06-4e9c-9db5-9f53d8bb1a34.vsidx
/.vs/Lb1SysProgr/FileContentIndex/82fbfaaa-790e-49c5-8296-607db8cbc092.vsidx
/.vs/Lb1SysProgr/FileContentIndex/e587be8f-9e3e-4ecc-8b77-7feb42cd3bc4.vsidx
/.vs/Lb1SysProgr/FileContentIndex/fb870097-86df-4ccd-a3d8-fb5128320005.vsidx
/.vs/Lb1SysProgr/FileContentIndex/f147f37d-0be5-4fbe-905e-3dc091cbe674.vsidx
/.vs/Lb1SysProgr/FileContentIndex/efa74055-b5f4-4006-9f6c-8aa2d3740429.vsidx
/.vs/Lb1SysProgr/FileContentIndex/aaaa24cd-4881-4cf9-aa51-822dbb04b6dc.vsidx
/.vs/Lb1SysProgr/FileContentIndex/a8fe253a-b416-4a3b-8cef-1e38b473c8c9.vsidx
