################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Lb1SysProgr/FileContentIndex/1b37d693-b46b-4a89-bea7-0afdf968b507.vsidx
